<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona Administratora</title>
    <style>
    *{
    padding:0;
    }
        table, th, td, thead,tbody {
            border: 1px solid;
        }
        a {
        font-size:20px;
        }
        p{
        margin:0;
        }
    </style>
</head>
<body>
<H1>Strona administratora</H1>

<h2>Dodawanie danych do bazy</h2>
<form action="/saveData" method="post">
    <p>Tytuł</p>
    <input type="text" name="tytul">
    <p>Kategoria</p>
    <input type="text" name="kategoria">
    <p>Ocena</p>
    <input type="number" min="1" max="10" step="1" name="ocena">
    <p>Data premiery</p>
    <input type="date" name="data" /><br>
    <input type="submit" value="zapisz">
    <br>
</form>

<h2>Usuwanie danych z bazy</h2>
<form action="/delete" method="post">
    <p>Wpisz tytuł</p>
    <input type="text" name="tytul"><br>
    <input type="submit" value="usuń">
</form><br>

<h2>Aktualizowanie danych w bazie</h2>
<form action="/update" method="post">
    <p>id</p>
    <input type="number" name="id"><br>
    <p>Tytuł</p>
    <input type="text" name="tytul"><br>
    <p>Kategoria</p>
    <input type="text" name="kategoria"><br>
    <p>Ocena</p>
    <input type="number" name="ocena"><br>
    <p>Data premiery</p>
    <input type="date" name="data" /><br>
    <input type="submit" value="update">
    <br>
</form>

<h2>Dodaj aktora</h2>
<form action="/saveActor" method="post">
    <p>Imie</p>
    <input type="text" name="imie"><br>
    <p>Nazwisko</p>
    <input type="text" name="nazwisko" ><br>
    <p>Kraj pochodzenia</p>

    <p>Data urodzenia</p>
    <input type="date" name="data_urodzenia"><br>
    <input type="submit" value="zapisz">
    <br>
</form>
<h2>Dodaj Reżysera</h2>
<form action="/saveRez" method="post">
    <p>Imie</p>
    <input type="text" name="imie_dir"><br>
    <p>Nazwisko</p>
    <input type="text" name="nazwisko_dir" ><br>
    <p>Data urodzenia</p>
    <input type="date" name="data_urodzia_dir"><br>
    <p>Tytuł Filmu</p>
    <input type="text" name="tytul"><br>
    <input type="submit" value="zapisz">
    <br>
</form>
<h2>Usuwanie aktora z bazy</h2>
<form action="/deleteActor" method="post">
    <p>Wpisz imie</p>
    <input type="text" name="imie"><br>
    <input type="submit" value="usuń">
</form><br>
<a href="/logout">Wylogowanie</a>
</body>
</html>